.container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	height: 360px;
	width: 420px;
	border: 1px solid #000000;
}

.grid div {
	width: 60px;
	height: 60px;
}

.player-one {
	background-color: red;
	border-radius: 50px;
}

.player-two {
	background-color: blue;
	border-radius: 50px;
}